@media only screen and (min-width: 60em) {
    
    .title_heading {
        font-size: xxx-large;
        margin: 1% 0%;
    }

    .body_container {
        max-width: 1100px;
    }

    .body_content {
        max-width: 900px;
    }

    #self-image {
        float: left;
        margin: -3px 20px;
        
    }

    #genesis, #exodus {
        display: inline-block;
        margin-left: 125%;
        background-color: #019ee9;
        color: azure;
        width: 8em;
        font-weight: 700;
        padding: .5em;
        border-radius: 5px;
        border: 1px solid azure;
    }

}