@media only screen and (min-width: 60em) {
    
    .title_heading {
        font-size: xxx-large;
        margin: 1% 0%;
    }

    .body_container {
        max-width: 970px;
    }

    .body_content {
        max-width: 900px;
    }

    #self-image {
        float: left;
        margin: -25px 20px;
        
    }

}