@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');



body {

    width: -webkit-fill-available; 
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url(https://cdn.cdkeys.com/media/wysiwyg/cdkeys/backgrounds/default/White-background_6.jpg);
}

.body_container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #111417;
}
.body_content {
    width: 100%;
    margin: auto;
    background-color: white;
    border: #f09d09 1px solid;
}

header {
    background-color: #292f36;
    margin: auto; 
    font-weight: bolder; 
    color: azure; 
    padding: 10px 0px 1px 37px;
    border-bottom: .8em solid #111417;
    border-top: 1.8em solid #111417;
}

.nav-container {
    height: 30%;
    display: inline-flex;
}

.nav-list {
    display: inline-flex;
}

.nav-button, .nav-link {
    padding: .25em;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link:visited {
    color: #019ee9;
}

.nav-button:hover, .nav-link:hover {
    color: #f09d09;
    font-weight: bold;
} 

.title_heading {
    font-family: 'Sansita', sans-serif; 
    text-shadow: -2px 2px black;
    margin: 1% 39% 3% 2%;
}

#self-image {
    float: right;
    width: 100px; 
    height: auto; 
    border-radius: 12px; 
    border: 1px solid #019ee9;
}

hr {
    height: 1.2px;
    width: 85%;
    background-color: #f09d09;
    margin: 3px auto 3px auto;
    border: black 1px solid;
}

ul {
    list-style-type: none;
}

.course_box td {
    text-align: center; padding-top: 25px;
}

footer{ 
    font-weight: bolder;
    color: azure;
    text-shadow: -2px 2px black;
    left: 0; 
    bottom: 0; 
    height: auto; 
    width: -webkit-fill-available; 
    text-align: center; 
    background-color: #292f36; 
    border-top: 1.5px groove white; 
    padding: 1em;
}

.social img {
    height: 45px; 
    margin: 8px 5px 0px 5px; 
    box-shadow: 0px 0px 2px azure; 
    border-radius: 50px;
}

#ghub:hover{
    cursor: inherit;
    mix-blend-mode: color-burn;
  }
  #fbook:hover{
    cursor: inherit;
    mix-blend-mode: color-dodge;
  }