@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');



body {

    width: -webkit-fill-available; 
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url(https://cdn.cdkeys.com/media/wysiwyg/cdkeys/backgrounds/default/White-background_6.jpg);
}

.body_container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #111417;
}
.body_content {
    width: 100%;
    margin: auto;
    background-color: white;
    border: #292f36 1px solid;
}

header {
    background-color: #292f36;
    margin: auto; 
    font-weight: black; 
    color: azure; 
    padding: 10px 0px 1px 37px;
    border-bottom: 2px groove azure;
    border-top: 2em solid #111417;
}

.title_heading {
    font-family: 'Sansita', sans-serif; 
    font-size: xx-large; 
    text-shadow: -2px 2px black;
}

#self-image {
    float: right;
    width: 100px; 
    height: auto; 
    margin: 10px 12px; 
    border-radius: 12px; 
    border: 2px groove azure;
}

hr {
    height: 1.5px;
    background-color: #f09d09;
}
ul {
    list-style-type: none;
}

.home {
    text-decoration: none;
    color: #019ee9;
}

.home:hover {
    color: #f09d09;
    font-weight: bold;
} 

.course_box td {
    text-align: center; padding-top: 25px;
}

footer{ 
    font-family: 'Sansita', sans-serif;
    font-weight: 400;
    color: azure;
    text-shadow: -2px 2px black;
    left: 0; 
    bottom: 0; 
    height: auto; 
    width: -webkit-fill-available; 
    text-align: center; 
    background-color: #292f36; 
    border-top: 1.5px groove white; 
    padding: 1em;
}