
/* THIS IS FOR THE FORM */
body {
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 35%,rgba(12,118,146,1) 98%,rgba(125,185,232,1) 100%);
}

header {
    background-color: #212121;
    padding: 10px;
}

#title-heading {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    font-variant: small-caps;
    margin: auto;
    padding: 1rem;
    color: rgba(30,87,153,1)
}

main {
    max-width: 900px;
    margin: auto;
    background-color: #f8f9fb;
    padding-top: 2em;
}

form#checkout-form {
    align-self: center;
    max-width: 90%;
    margin: auto;
    font-family: 'Cantarell', sans-serif;
    align-content: flex-start;
    border-radius: 6px;
    background:rgba(25,37,53,1);
    border: 1px solid rgba(25,37,53,.5);
    box-shadow: 10px 15px 10px 2px rgba(85, 104, 128, 0.9);
}

fieldset{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    margin: 3vh;
    background-color: #f8f9fb;
}

fieldset.formFieldContainer {
    margin: inherit;
}



legend{
    font-size: 2em;
    font-variant: small-caps;
    padding: 0 1vh 1vh 3vh;
    border-radius: 15px;
    color: #f8f9fb;
    border: 1px solid #f8f9fb;
    text-shadow: 0px 0px 1px black;
    text-indent: -20px;
    background-color: #0f0e0e;
}

.errorMessage {
    display: none;
    color: red;  
}

textarea {
    margin: 0px;
    width: 40%;
    height: 5em;
    font-variant: all-small-caps;
    font-family: 'Raleway', sans-serif;
}

div.forSaleItem {
    display: grid;
    margin: auto;
    max-width: 90%;
    max-height: 100px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #f8f9fb;
    padding: 10px;
    border-radius: 12px;
    font-size: medium;
    border: 1px solid rgba(0, 0, 0, .5);
}

.itemTitle {
    font-size: 1.5rem;
    grid-column: 2/span 3;
    text-align: left;
    font-variant: small-caps;
    font-variant-numeric: diagonal-fractions;
}

div.forSaleItem label {
    grid-row: 2;
    grid-column: 4;
}

.itemPicContainer {
    margin: auto;
}

.itemTitle {
    font-size: 1.5rem;
}

label {
    font-family: 'Raleway', sans-serif;
    font-variant: small-caps;
    color: #212121;
    padding: 5px;
    display: block;
    border-radius: 12px;
    max-width: 100%;
    font-size: 1.15em;
    font-weight: 600;
    text-indent: 2px;
    text-shadow: 0px 0px 1px black;
}

input {
    border-radius: 6px;
    text-indent: 5px;
    font-variant: small-caps;
    padding: 10px;
}

.creditCard {
    max-width: 50px;
}

span#pick-a-card {
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    margin-right: 0;
}


form input:required {
    border-left: 10px groove red;
}

form input:required:valid {
    border-left: 10px groove greenyellow;
}

span#form-buttons {
    text-align: right;
}

input#submitForm, input#reset {
    border-radius: 6px;
    color: #f8f9fb;
    background-color: rgba(25,37,53,1);
    padding: 15px;
}

/*              Medium Screen Size                 */

@media only screen and (min-width: 30rem) {
    textarea {
        width: 60%;
    }

    fieldset#confirm-purchase {
        display: inline-flex;
        margin: 0% 15% 2% 22%;
    }
}


/*              Large Screen Size                   */
@media only screen and (min-width: 60rem) {
    div.forSaleItem {
        max-width: 75%;
        margin: initial;
    }

    .itemTitle {
        text-align: right;
    }

    input {
        padding: 2px;
    }

}